<div class="container">
		<div class="header">
			<p>Feature Bank using Node JS</p>
		</div>
		<div class="navbar">
			<li><a href="/index" style="text-decoration:none;color:#fff;">Home</a></li>
			<li>Register</li>
			<li>Login</li>
			<li>About Page</li>
			<li>Contact Us </li>
		</div>
</div>