<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dynamic div creation </title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font--><!-- 
	<link rel="stylesheet" type="text/css" href="css/montserrat-font.css">
	<link rel="stylesheet" type="text/css" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
 -->	<!-- Main Style Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- {{>style}} -->
    
</head>
<body class="form">
	{{>navbarsub}}
	<div class="buttons">
		<button type="button" onclick="getData()" class="opbuttons" style="">Refresh</button>
		<button type="button" class="opbuttons" id="downloadBtn">Download</button>
	</div>
	</div>
	<div class="content">
		<div class="form-content-right" id="right-box" >
			<div class="right-section-content-body">
					<table id="userData">
						<tr>
							<th class="thead">Name</th>
							<th class="thead email">Email</th>
							<th class="thead">Zip Code</th>
							<th class="thead">Country</th>
							<th class="thead">Phone No.</th>
						</tr>
						<script type="text/javascript">
						// const images = document.getElementById("images").innerHTML;
						
						var userData = document.getElementById("userData");

						async function getData(e)
						{
							const baseUrl='http://localhost:3000/dynamicpdf/data';
							const res = await fetch(baseUrl,{method : 'GET'})
							const data =await res.json();	
							userData.innerHTML="<tr><th class='thead'>Name</th><th class='thead email'>Email</th><th class='thead'>Zip Code</th><th class='thead'>Phone No.</th></tr>";	
							
							//Get the list of images
							for (var i = 0; i < data.usersData.length; i++)
							{
								// console.log(data.images[i]);
								var uname = "<tr><td class='data'>"+data.usersData[i].username+"</td><td class='data'>"+data.usersData[i].email+"</td><td class='data'>"+data.usersData[i].zip_code+"</td><td class='data'>"+data.usersData[i].phoneno+"</td></tr";
								userData.innerHTML = userData.innerHTML+uname;

							}				
						}
						getData();	
						 
						 // pdf generation code
				        document.getElementById('downloadBtn').addEventListener('click', function() {
				            window.location.href = '/generate-pdf';
				        });		
					</script>
					</table>	
				</div>
		</div>
	</div>
</body>
</html>