<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Feature bank</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Main Style Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- {{>style}}    -->
</head>

<body>
<div class="container">
	<div class="header">
		<p>Feature Bank using Node JS</p><i class='fas fa-bell' style='font-size:24px'></i>
	</div>
</div>
</div>
<div class="container">
<!-- <div class="menu"> -->
	
	<div class="menu-info">No. of features &nbsp;&nbsp; <span class="boldfonts" id="counter"></span></div>
	<div class="menu-section" id="features">
		<div class="category">Basic</div>
		<div class="features">
			<a href="/register"><div class='featurelist'><span class="mlist">Sign Up</span></div></a>
			<a href="/login"><div class='featurelist'><span class="mlist">Login</span></div></a>

			<!-- <a href="/dynamicdiv"><div class='featurelist'><span class="mlist"> Div Creation</span></div></a> -->
			<a href="/crud"><div class='featurelist'><span class="mlist">CRUD Operation</span></div></a>
			<a href="/fetchdata"><div class='featurelist'><span class="mlist">Fetching</span></div></a>
			<a href="/filter"><div class='featurelist'><span class="mlist">Search & Filter</span></div></a>
		</div>
		<div class="category">Advance</div>
		<div class="features">
			<a href="/uploadPage"><div class='featurelist'><span class="mlist">Image Upload</span></div></a>
			<a href="/sentEmail"><div class='featurelist'><span class="mlist">Email Sending</span></div></a>
			
			<a href="/dynamicpdf"><div class='featurelist'><span class="mlist">Dynamic Pdf Creation</span></div></a>
			<a href="/datav"><div class='featurelist'><span class="mlist">Data Visualization</span></div></a>
		<!-- <a href="/register"><div class='featurelist'><span class="mlist">Sign Up</span></div></a> -->
		</div>

		<div class="category">APIs</div>
		<div class="features">			
			<a href="/weatherapi"><div class='featurelist'><span class="mlist">Open Weather</span></div></a>
			<a href="/dynamicquote"><div class='featurelist'><span class="mlist">Quote Generation</span></div></a>
			<a href="/imdb"><div class='featurelist'><span class="mlist">IMDB API</span></div></a>
			<a href="/googlesheetapi"><div class='featurelist'><span class="mlist">Google Sheet</span></div></a>
		</div>
	</div>
	<!-- <div class="left-menu-section"><span>-></span>{{features}}</div> -->
	</div>
			<!-- <div class="right-page">
				<div class="hoading"><p>&nbsp;&nbsp;&nbsp;Welcome</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to </p><p>Feature Bank</p></div>
				
			</div> -->
</div>
<div class="footer">
	<p>Feature bank by Rashmi Ranjan Copyright@2022-25 </p>			
</div>
</div>
	<script>
		const count = document.getElementsByClassName("featurelist").length;
		// const count = featurelist.length;
		// console.log(count);
		document.getElementById("counter").innerHTML=count;

		 //fetch no.of features and create dynamically menu
				//----------------------------------------------------->
			
					// const baseUrl='http://localhost:3000/fetch';
					// const singupPageUrl='http://localhost:3000/register';

					// const counter = document.getElementById("counter");
					// const feature = document.getElementById("features");
					//  document.getElementById('fetch').addEventListener('click',getFeatures);

					// async function getFeatures(e)
					// {
					// 	const res = await fetch(baseUrl,{method : 'GET'})
					// 	const data =await res.json();
					// 	console.log(data.features[0]);	
					//  console.log(res);
					// 	counter.innerHTML=data.counter;	
						
					// 	//Get the list of feature menu
					// 	for (var i = 0; i < data.counter; i++)
					// 	{
					// 		feature.innerHTML = feature.innerHTML+"<div class='featurelist' id='list' onclick='getPage(this)'>"+"->"+data.features[i].featurename+"</div>";
					// 	}				
					// }
					
					// getFeatures();
					// <!----------------------End of fetching features------------------>


					//--------------Redirect to selected page as per request---------------
					// var featurelist = document.getElementById("list");
					// console.log(featurelist);

					// featurelist.addEventListener('click',getPage);
	</script>
</body>